@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  color: rgb(50,50,50); 
}

h2 {
  margin-bottom: -12px;
}

p {
  line-height: 1.3;
}

#P1 {
}

#S1 {
  font-size: 2.0em;
}

.H1 {
  border: 7px solid green;
  font-family: 'DotGothic16', sans-serif;
}